body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(203, 238, 138);
}

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;   
}